:root {
    --maincolor: #7059FF;
    --altcolor: #9656F5;
    --maintext: #ffffff;
    --changealt: #7059FF;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    display: flex;
    justify-content: space-between;
    color: var(--maincolor);
    font-weight: bold;
}

p {
    font-size: 130%;
}

#high-score {
    margin: 5px;
}

#timer {
    margin: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: self-start;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 300px;
    margin-top: 50px;
}

#card-header {
    text-align: center;
}

#card-body {
    text-align: center;
}

button {
    background-color: var(--altcolor);
    padding: 5px;
    margin-top: 10px;
    color: var(--maintext);
    border-radius: 5px;
    font-size: 110%;
}

button:hover {
    cursor: grab;
    background-color: var(--changealt);
}

#isTrue {
    border-top: 3px solid var(--maincolor);
    width: 100%;
}

.hide {
    display: none;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#answers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.answer-btn {
    background-color: var(--altcolor);
    width: fit-content;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    color: var(--maintext);
    border-radius: 5px;
}

#answer-btn:hover {
    cursor: grab;
    background-color: var(--changealt);
}

#correct {
    width: 100%;
    border-top: 3px solid var(--maincolor)
}

#incorrect {
    width: 100%;
    border-top: 3px solid var(--maincolor)
}

#play-again {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}